@import "nord.css";

/* GENERAL */

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-VariableFont_slnt,wght.ttf);
}

body {
    margin: 0px;
    font-family: Inter;
    background: var(--nord6);
}

p, h1, h2, h3, h4, h5, a {
    color: var(--nord1);
}

#body-div {
    margin: 0 auto;
    width: min(1250px, 90%);
    height: 100%;
    box-sizing: border-box;
}

form {
    margin: 0;
}

.page-section {
    margin: 1em 0;
}

.page-section > p {
    margin: 0;
}

.page-section > h3 {
    margin: .25em 0;
}

/* NAVIGATION BAR */

#nav-bar {
    width: 100%;
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 0 0 5px lightgray;
    z-index: 1000;
}

#nav-bar-inner {
    margin: 0 auto;
    width: min(1250px, 90%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-bar-logo {
    margin: 1em 0;
    height: fit-content;
    font-weight: bold;
    font-size: 200%;
    text-decoration: none;
}

#nav-bar-logo:hover {
    color: var(--nord3);
}

#nav-bar-buttons {
    display: flex;
    align-items: center
}

.nav-bar-button {
    border: none;
    background: none;
    position: relative;
    margin: auto auto auto 20px;
    padding: 5px;
    border-radius: 5px;
    font-size: 125%;
    text-decoration: none;
}

.nav-bar-button:hover {
    color: var(--nord3);
    background: var(--nord5);
}

/* DATATABLES */

#auction-table, #bid-table {
    color: var(--nord1);
}

#auction-table > tbody > tr > td > a, #bid-table > tbody > tr > td > a {
    color: var(--nord10);
    text-decoration: none;
}

#auction-table > tbody > tr > td > a:hover, #bid-table > tbody > tr > td > a:hover {
    color: var(--nord9);
}
